/* Add your CSS Code here */
.thumbnail{
	border: none;
	background-color: transparent;
}
.double-lines{
	height:20px;
	border-bottom:5px solid #1d3461;
	border-top:5px solid #a30015;
	margin-top :7px;
}

.row{
	font-size: 22px;
}

#navigation{
	background-color: white;
	opacity: 0.8;
	border-color: white ;

}

.navword{
	font-size: 20px;
	color: #a30015;
}
body{


	color:#7F1910; 
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background-image: url("hi.png"); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

}
.list-group{
	
	align-content: "center";
	opacity: 0.6;
	

}

.main-content-div{

	height: 100%
	position: fixed;
	webkit-filter: blur(345678px);
	moz-filter: blur(56945px);
	o-filter: blur(569567px);
	ms-filter: blur(569567px);
	filter: blur(56956px);
}

.buttons{
	display: inline-block;
	border-radius: 4px;
	background-color: #a30015;
	border: none;
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	width: 200px;
	transition: all 1.0s;
	cursor: pointer;
	margin: 5px;
	border-color: #f4511e;
	opacity: 0.5;
}

/*.background-img {

    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
    font-size: 18px;
    background-image: url("hi.png"); 
    min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}*/
#country_name{
	background-color: white;
	opacity: 0.7;

}
.list-group-item{
	font-size: 20px;
	font-family: 
}
.correct{
	color: green;

}
.incorrect{
	color: red;
}