/* Add your CSS Code here */
.thumbnail{
	border: none;
	background-color: transparent;
}
.double-lines{
	height:20px;
	border-bottom:5px solid #1d3461;
	border-top:5px solid #a30015;
	margin-top :7px;
}

body{


	color:#7F1910; 
}

.main-content-div{

	background-repeat: repeat-x;
	height: 100%
	position: fixed;
	webkit-filter: blur(345678px);
	moz-filter: blur(56945px);
	o-filter: blur(569567px);
	ms-filter: blur(569567px);
	filter: blur(56956px);
}

.main-content-div:after {

   content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("hi.jpg"); 
    width: 100%;
    height: 130%;
    opacity : 0.5;
    z-index: -1;
}
#country_name{
	background-color: white;
	opacity: 0.7;

}
