<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    About us 
  </title>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name=“viewport” content=“width= device-width, initialscale=1.0”>   
</head>

<body>

<div class="main-content-div">
<ul id="navigation" class="nav nav-tabs">
  <li role="presentation" ><a  href="{{ url_for ('main') }}" class="navword" >Home</a></li>
  <li role="presentation" class="active"><a href="#" class="navword" >About us</a></li>
  
</ul>
<div align="center">
<br>
<h1>About us</h1>
<br>
<div class= "double-lines" ></div>
</div>
<br>
</div>
<div align="center" class="container">
<img class= 'picture-circle' src="{{ url_for('static', filename='logoh.png') }}" width="150"> 



</div>
<br>
<br>
<br>
	<div class="row">
	<div class="col-xs-1 col-md-1">
	    
	</div>
	<div class="col-xs-2 col-md-2">
	    <a  class="thumbnail">
	      <img src="https://scontent.xx.fbcdn.net/v/t34.0-12/13940907_1277572358922221_4981719_n.jpg?oh=84fd1032c6c1c8ba6a7ec7b327b176ef&oe=57A82649" height ="200"  >
	    </a>
	    <div align='center' class="caption">
	        <h3>Taha Abukhalaf</h3>
	    </div>
	</div>
	<div class="col-xs-2 col-md-2">
	    <a  class="thumbnail">
	      <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13445794_10205568301161073_421483602320219680_n.jpg?oh=8a817c626b8852403cec72452912d28f&oe=58247493" height ="200"  >
	    </a>
	    <div align='center' class="caption">
	        <h3>Mercedes Voscoboinik</h3>
	    </div>
	</div>
	<div class="col-xs-2 col-md-2">
	    <a  class="thumbnail">
	      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/11025817_1038611892820728_7833201012368339881_n.jpg?oh=10c45039ba7676bce471a42ad0960d87&oe=581F35AA&__gda__=1482205985_078d0a3efb8140c030bc15661ac177b2"  height ="200"  >
	    </a>
	    <div align='center' class="caption">
	        <h3>Grace Bathish</h3>
	    </div>
	</div>
	<div class="col-xs-2 col-md-2">
	    <a  class="thumbnail">
	      <img src="https://attachment.outlook.office.net/owa/schmuklervosco@hotmail.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATZiZmYAZC05ZGI5LTI0ZmMtMDACLTAwCgBGAAADDXCGY9%2B4hUywLlXzRVldogcAv98IpyhxhESYIo0LAlz8PAAAAgEMAAAAv98IpyhxhESYIo0LAlz8PAAAABmdC9UAAAABEgAQACWim9xdg41Kha7qLPyM3gU%3D&thumbnailType=2&X-OWA-CANARY=cheY1BhmT0qs70mySIVYvmBUMesavtMYWEaUFi9tApZzkydoOcPEu9CuXQBNqW_XlcQaD6DoIIg.&token=2d310a50-68b1-49c9-81f9-64a9f0c0a96a&owa=outlook.live.com&isc=1" height ="200"  >
	    </a>
	    <div align='center' class="caption">
	        <h3>Raneem Slaibi</h3>
	    </div>
	</div>
	<div class="col-xs-2 col-md-2">
	    <a  class="thumbnail">
	      <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/11139401_898353616950425_122159623567504972_n.jpg?oh=9249f5ba797ccdec9e831b3ad2f28a9d&oe=581CA3F9&__gda__=1482319794_65f6381e6bd63a291f3ca580f3fa12ed" height ="200" >
	    </a>
	    <div align='center' class="caption">
	        <h3>Gidon Schreiber</h3>
	    </div>
	</div>
	<div class="col-xs-1 col-md-1">
	    
	</div>
	  
	</div>
<div class="main-content-div:after"></div>

</body>

</html>
