<!DOCTYPE html>
<html>
<head>
	<title> about us</title>
	
<meta charset="utf-8">
<!-- Making Bootstrap Responsive -- >
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name=“viewport” content=“width= device-width, initialscale=1.0”>   

</head>
<body>
<h1>about us </h1>
<div align="center">
<h3 align="center">
We are a group of palestinians and israelis from jerusalem and nazareth who come together to learn computer science and entrepreneurship in MEET, where we also build leadership and teamwork skills. 

</h3>


<h1 align= "center">
Why us?
</h1>
<h3 align="center">
Quiz me helps you to expand your knowledge , you can learn and know more about the other countries, test your knowledge,and of course have fun!
</h3>
</div>
</body>
</html>