<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Quiz It
  </title>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name=“viewport” content=“width= device-width, initialscale=1.0”>   
</head>

<body>
<div id="imgg">
<div class="content">
 
<div align="center" class="container">
<img class= 'picture-circle' src="{{ url_for('static', filename='logoh.png') }}" width="300" > 
</div>

<br>
<div align="center">
<h1>Choose the country you want to take the quiz about</h1>
<div class= "double-lines" ></div>
</div>
<br>
<br>
<br>
<div class="container">
	<div class="row">
	<div class="col-md-2 col-xs-2"> 
	</div>
	  <div class="col-xs-4 col-md-4">
	    <a href="{{url_for('flag', flag_name='france')}}" class="thumbnail">

	      <img src="{{ url_for('static', filename='france.png') }}" width="100px" >

	    </a>
	    <div align='center' class="caption">
	        <h3>France</h3>
	    </div>
	  </div>
	<div class="col-xs-4 col-md-4">
	    <a href="{{url_for('flag', flag_name='italy') }}" class="thumbnail">
	      <img src="{{ url_for('static', filename='italy.png') }}" width="100" >

	    </a>
	    <div align='center' class="caption">
	        <h3>Italy</h3>
	    </div>
	  </div>
	  
	<div class="col-md-2 col-xs-2"> 
	</div>
	</div>

	<div class="row">
	<div class="col-xs-4 col-md-4">
	    <a href="{{url_for('flag', flag_name='usa')}}" class="thumbnail">
	      <img src="{{ url_for('static', filename='usa.jpg') }}" width="100" >

	    </a>
	    <div align='center' class="caption">
	        <h3>U.S.A</h3>
	    </div>
	  </div>
	  <div class="col-xs-4 col-md-4">
	    <a href="{{url_for('flag', flag_name='india')}}" class="thumbnail">
	      <img src="{{ url_for('static', filename='india.png') }}" width="100" >

	    </a>
	    <div align='center' class="caption">
	        <h3>India</h3>
	    </div>
	  </div>
	<div class="col-xs-4 col-md-4">
	    <a href="{{url_for('flag', flag_name='china')}}" class="thumbnail">
	      <img src="{{ url_for('static', filename='china.png') }}" width="100" >

	    </a>
	    <div align='center' class="caption">
	        <h3>China</h3>
	    </div>
	  </div>
	  
	</div>
</div>
</div>
</div>
</body>
</html>
