<DOCTYPE! html>
<html>
<head>
	<title>{{quiz.name}}</title>
	<!-- Latest compiled and minified CSS -->
	
<meta charset="utf-8">
<!-- Making Bootstrap Responsive -- >
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name=“viewport” content=“width= device-width, initialscale=1.0”>   
</head>
<body>

<div class="main-content-div">
<ul id="navigation" class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for ('main') }}" class="navword" >Home</a></li>
  <li  role="presentation"><a href="{{ url_for ('about_us') }}"  class="navword" >About us</a></li>
 
</ul>
<div class="container">
	<h1 align="center">{{title}}</h1>
	<div class= "double-lines" ></div>
	<form action="{{url_for('quiz', country_name=country_name, quiz_id=quiz.id)}}" method="POST">
	{% for question in quiz_question %}

		<div class="form-group vertical">

			<label>
				{{question.question}}
				
			</label>
			<br>
			<input type="radio" name="{{question.id}}" value="{{question.option_1}}">{{question.option_1}}
			<br>
			<input type="radio" name="{{question.id}}" value="{{question.option_2}}">{{question.option_2}}
			<br>
			<input type="radio" name="{{question.id}}" value="{{question.option_3}}">{{question.option_3}} <br>
			<input type="radio" name="{{question.id}}" value="{{question.option_4}}">{{question.option_4}}<br>
		</div>
	{% endfor %}
	<input type="submit" name="submit" class="buttons">
	</form>

</div>
</div>

<div class="main-content-div:after"></div>

</body>
</html>