<DOCTYPE! html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->

<meta charset="utf-8">
<!-- Making Bootstrap Responsive -- >
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name=“viewport” content=“width= device-width, initialscale=1.0”>   
<link rel=stylesheet type=text/js href="{{ url_for('static', filename='script.js') }}">

</head>
<body>

<div class="main-content-div">
<ul id="navigation" class="nav nav-tabs">
  <li  role="presentation" ><a href="{{ url_for ('main') }}" class="navword" >Home</a></li>
  <li  role="presentation"><a href="{{ url_for ('about_us') }}" class="navword" >About us</a></li>

</ul>
	<div class="container">


		<h1 align="center">{{quiz_name}}</h1>
		<br>
		<h2 align="center"> Score: {{score}} % </h2>
		<br>
		<div class= "double-lines" ></div>
			<br>
			<div class="row">
				<div class="col-md-6 col-xs-6">
				{% for question in questions %}

					<div class="form-group vertical">

						<label>
							{{question.question}}
							
						</label>
						<p id="answer"
						{% if correctness[question.id] == True %}
						class="correct"
						{% else %}
						class="incorrect"
						{% endif %}
						 >{{question_to_answer[question.id]}}</p>
						
						<br>
						
					</div>
				{% endfor %}
				</div>
				<div class="col-md-6 col-xs-6" align="center">
					<div id="country_name">
					<h1>{{country_name}}</h1>
					<p>
					<ul>
				{% for i in info %}
					<li>{{i}}<br><br></li>

					{% endfor %}
					</ul>
					</p>
					</div>
				</div>
			
			</div>
	</div>
</div>
<div class="main-content-div:after"></div>

</body>
</html>
</html>